body{
    background-color: black;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameDice{
    margin-bottom: 1rem;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#userInputField input[type = "number"]{
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.gameArea{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

#gameBoard{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: auto;
    margin: auto;
    padding: 60px;
}

#playerTurn{
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 20px;
    outline: 5px white;
    padding: 20px;
}

.cell{
    width: 90px;
    height: 90px;
    border: 3px solid white;
    line-height: 75px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.cell:hover{
    background-color: orangered;
}

button[type = "button"]{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button[type = "button"]:hover{
    background-color: white;
}

.tooltip{
    position: relative;
    display: flex;
    flex-direction: row;
}

.tooltiptext{
    visibility: hidden;
    width: 300px;

    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -150px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}